/* #root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
.Toastify__toast--warning {
  background-color: #fb923c !important; /* màu cam bếp */
  color: #fff !important;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(251, 146, 60, 0.3);
}
